@charset "utf-8";

/* 색 설정 */
:root {
    --main-color: #E10317;
    --black-color : #222;
    --white-color : #fff
}

/* size */
@media screen and (max-width: 1250px) { } /* tablet */
@media screen and (max-width: 650px) { } /* mobile */

/* 스크롤 커스텀 */
html::-webkit-scrollbar {width: 8px;}
html::-webkit-scrollbar-thumb {background-color: var(--main-color); border-radius: 10px;}

/* 드래그 블록 커스텀 */
::selection { background-color:var(--main-color); color:#fff; }


/* default */
*{
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    color : inherit;
    box-sizing: border-box;
    letter-spacing: inherit;
    line-height: inherit;
}

body{ font-family: 'Pretendard', sans-serif; font-weight:400; font-size: 16px; letter-spacing: -0.04em; }
section{ display:block; }
a{ color:inherit; }

.inner{ width:1200px; margin:0 auto; }

.paging_box{ padding:10px 0; display:flex; align-items: center; justify-content: center; }

select{
    -webkit-appearance: none; -moz-appearance: none;  appearance: none;
    background: url('../img/common/select-icon.png') no-repeat 98% 50% #fff; 
}
select::-ms-expand{ display:none; }
p{ word-break: keep-all; }

@media screen and (max-width: 1250px) { 
    .inner{ width:100%; padding:0 3vw; }
} /* tablet */
@media screen and (max-width: 650px) { 
    .paging_box{ font-size: 13px; }
} /* mobile */


/* header */
header{ position: fixed; left: 0; top: 0; width: 100%; z-index: 999; background-color: #fff; padding: 25px 0; }
header .inner{ display: flex; align-items: center; justify-content: space-between; }
header .menu-btn{ display: none; }
header .meu-list{ font-weight: 500; font-size: 18px; display: flex; align-items: center; gap: 50px; }

@media screen and (max-width: 1250px) {
    header .meu-list{ font-size: 16px; }
}
@media screen and (max-width: 950px) { 
    header .logo{ width: 230px; }
    header .meu-list{ display: none; }
    header .menu-btn{ display: block; border: none; background: transparent; }
    header .menu-btn .icon{ width: 30px; }
}
@media screen and (max-width: 650px) { 
    header .logo{ width: 200px; }
    header{ padding: 15px 0; }
}


/* .slide-menu */
.slide-menu{ display: none; }
.close-bg{ display: none; }
@media screen and (max-width: 950px) { 
    .slide-menu{ transition: right .5s; display: block; padding: 15px 0; position: fixed; right: -300px; top: 0; width: 300px; height: 100%; max-width: 90%; background-color: #fff; z-index: 9999; }
    .slide-menu.show{ right: 0; }
    .slide-menu .btn-div{ padding: 0 10px; display: flex; justify-content: flex-end; }
    .slide-menu .btn-div .close-btn{ background: transparent; border: none; }
    .slide-menu .btn-div .close-btn .icon{ width: 25px; }
    .slide-menu .menu-list{ margin-top: 30px; border-top: 1px solid #efefef; }
    .slide-menu .menu-list > li{ border-bottom: 1px solid #efefef; }
    .slide-menu .menu-list .item{ color: #656565; display: block; padding: 15px 3vw; font-size: 18px; font-weight: 500; }

    .close-bg{ opacity: 0; visibility: hidden; display: block; cursor: pointer; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.4); z-index: 999; }
    .close-bg.show{ opacity: 1; visibility: visible; }
}

/* .main .main-visual */
.main .main-visual{ position: relative; overflow: hidden; display: flex; align-items: center; justify-content: center; height: 800px; background-image: url('../img/main/main-visual/background.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; }
.main .main-visual .bg-icon{ position: absolute; max-width: 100%; }
.main .main-visual .inner{ position: relative; z-index: 2; }
.main .main-visual .half-box{ display: flex; align-items: center; justify-content: space-between; }
.main .main-visual .title .red{ font-weight: 600; }
.main .main-visual .title h3{ font-weight: 600; }
.main h2{ font-family: 'Welcome', sans-serif; color: #222; font-size: 42px; font-weight: 400; }
.main h3{ font-family: 'Welcome', sans-serif; color: #222; font-size: 70px; margin-top: 10px; }
.main h3 .red{ color: #E10317; }

@media screen and (max-width: 1250px) { 
    .main .main-visual{ height: auto; padding: 150px 0 80px 0; }
    .main h2{ font-size: 32px; }
    .main h3{ font-size: 50px; }
}
@media screen and (max-width: 950px) { 
    .main .main-visual .half-box .bank{ width: 30vw; }
}
@media screen and (max-width: 750px) { 
    .main .main-visual .half-box .title{ text-align: center; }

    .main .main-visual .half-box{ flex-direction: column; gap: 40px; }
    .main .main-visual .half-box .bank{ width: 56vw; }
}
@media screen and (max-width: 650px) { 
    .main .main-visual{ padding: 120px 0 50px 0; }
    .main h2{ font-size: 22px; }
    .main h3{ font-size: 32px; }
}

/* .main .section2 */
.main .section2{ position: relative; overflow: hidden; padding: 150px 0; }
.main .section2 .inner{  padding-bottom: 300px; position: relative; }
.main .section2 h3{ margin-top: 0; }
.main .section2 h2{ margin-top: 10px; }
.main .section2 .bg-img1{ position: absolute; right: -200px; bottom: -100px; }
.main .section2 .number-box{ margin-top: 30px; display: flex; gap: 30px;  }
.main .section2 .number-box .box{ text-align: center; padding: 20px; width: 270px; background-color: #fff; border-radius: 30px; filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25)); }
.main .section2 .number-box .box .label{ color: #222; font-size: 24px; }
.main .section2 .number-box .box .content{ margin-top: ; font-weight: 700; color: #222; font-size: 32px; }
.main .section2 .number-box .box .content .number{ color: #E10317; font-size: 1.25em; }
.main .section2 .btn-box{ margin-top: 30px; display: flex; justify-content: flex-start; }
.main .section2 .btn-box .more-btn{ background-color: #E10317; border-radius: 30px; padding: 16px 46px; color: #fff; font-size: 24px; font-weight: 600; }

.main .text-deco{ position: relative; }
.main .text-deco .deco{ position: absolute; right: calc(100% - 20px); bottom: calc(100% - 20px); }
.main .text-deco::before{ position: absolute; left: -100px; top: -100px; content:''; display: block; width: 400px; height: 400px; border-radius: 50%; opacity: 0.04; background: #E10317; filter: blur(60px); }

@media screen and (max-width: 1330px) { 
    .main .text-deco .deco{ position: static; right: unset; bottom: unset; }
}
